whatsapp_bot_advanced_workflow.json
{
    "name": "S0R7ED Advanced AI WhatsApp Bot (Gemini + n8n)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "whatsapp-webhook",
                "options": {}
            },
            "name": "Twilio Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                0
            ],
            "id": "1"
        },
        {
            "parameters": {
                "keepOnlySet": true,
                "values": {
                    "string": [
                        {
                            "name": "message_body",
                            "value": "={{ $json.body.Body }}"
                        },
                        {
                            "name": "trigger_keyword",
                            "value": "={{ $json.body.Body.trim().toUpperCase() }}"
                        },
                        {
                            "name": "sender_id",
                            "value": "={{ $json.body.From }}"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Extract Message Data",
            "type": "n8n-nodes-base.set",
            "typeVersion": 1,
            "position": [
                200,
                0
            ],
            "id": "2"
        },
        {
            "parameters": {
                "resource": "databasePage",
                "operation": "getAll",
                "databaseId": {
                    "__rl": true,
                    "value": "={{ $env.NOTION_BLOG_DATABASE_ID }}",
                    "mode": "id"
                },
                "filterType": "manual",
                "filters": {
                    "conditions": [
                        {
                            "key": "Trigger",
                            "rule": "equals",
                            "value": "={{ $json.trigger_keyword }}"
                        }
                    ]
                }
            },
            "name": "Lookup Template in Notion",
            "type": "n8n-nodes-base.notion",
            "typeVersion": 2,
            "position": [
                400,
                0
            ],
            "id": "3"
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $node[\"Lookup Template in Notion\"].json.results.length > 0 }}",
                            "value2": true
                        }
                    ]
                }
            },
            "name": "Template Found?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                600,
                0
            ],
            "id": "4"
        },
        {
            "parameters": {
                "message": "={{ $node[\"Lookup Template in Notion\"].json.results[0].properties.Template.rich_text[0].plain_text }}",
                "from": "whatsapp:+447360277713",
                "to": "={{ $node[\"Extract Message Data\"].json.sender_id }}"
            },
            "name": "Send Protocol Template",
            "type": "n8n-nodes-base.twilio",
            "typeVersion": 1,
            "position": [
                800,
                -100
            ],
            "id": "5"
        },
        {
            "parameters": {
                "model": "gemini-pro",
                "prompt": "=You are a task classification assistant for S0R7ED, a concierge service for neurodivergent adults.\n\nUser message: \"{{ $node[\"Extract Message Data\"].json.message_body }}\"\n\nAnalyze this message and return JSON:\n\n{\n  \"intent\": \"task_request\" | \"question\" | \"unclear\",\n  \"branch\": \"Healthcare\" | \"Finance\" | \"Home\" | \"Transport\" | \"Appointments\" | \"Mental Health\" | \"Social Life\" | \"Other\",\n  \"task_summary\": \"Brief description of what they want\",\n  \"credit_cost\": 1,\n  \"suggested_response\": \"Personalized message acknowledging what you'll do and how it benefits them\"\n}",
                "options": {
                    "temperature": 0.7
                }
            },
            "name": "Google Gemini Classifier",
            "type": "n8n-nodes-base.googleGemini",
            "typeVersion": 1,
            "position": [
                800,
                100
            ],
            "id": "6"
        },
        {
            "parameters": {
                "resource": "databasePage",
                "operation": "create",
                "databaseId": {
                    "__rl": true,
                    "value": "={{ $env.NOTION_TASKS_DATABASE_ID }}",
                    "mode": "id"
                },
                "propertiesUi": {
                    "propertyValues": [
                        {
                            "property": "Task Name",
                            "title": "={{ JSON.parse($node[\"Google Gemini Classifier\"].json.text).task_summary }}"
                        },
                        {
                            "property": "Branch",
                            "select": "={{ JSON.parse($node[\"Google Gemini Classifier\"].json.text).branch }}"
                        },
                        {
                            "property": "User",
                            "rich_text": [
                                {
                                    "text": {
                                        "content": "={{ $node[\"Extract Message Data\"].json.sender_id }}"
                                    }
                                }
                            ]
                        },
                        {
                            "property": "Credit Estimation",
                            "number": "={{ JSON.parse($node[\"Google Gemini Classifier\"].json.text).credit_cost }}"
                        }
                    ]
                }
            },
            "name": "Log Task to Notion",
            "type": "n8n-nodes-base.notion",
            "typeVersion": 2,
            "position": [
                1000,
                100
            ],
            "id": "7"
        },
        {
            "parameters": {
                "message": "={{ JSON.parse($node[\"Google Gemini Classifier\"].json.text).suggested_response }}",
                "from": "whatsapp:+447360277713",
                "to": "={{ $node[\"Extract Message Data\"].json.sender_id }}"
            },
            "name": "Send AI Response",
            "type": "n8n-nodes-base.twilio",
            "typeVersion": 1,
            "position": [
                1200,
                100
            ],
            "id": "8"
        }
    ],
    "connections": {
        "Twilio Webhook": {
            "main": [
                [
                    {
                        "node": "Extract Message Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Message Data": {
            "main": [
                [
                    {
                        "node": "Lookup Template in Notion",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Lookup Template in Notion": {
            "main": [
                [
                    {
                        "node": "Template Found?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Template Found?": {
            "main": [
                [
                    {
                        "node": "Send Protocol Template",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Google Gemini Classifier",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Google Gemini Classifier": {
            "main": [
                [
                    {
                        "node": "Log Task to Notion",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Log Task to Notion": {
            "main": [
                [
                    {
                        "node": "Send AI Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}